/*.bookmark {
  &--card, &--menu {
    position: absolute;
  }
  &--card {
    right: 24px;
    top: 198px;
    font-size: 1.3em;
  }
  &--menu {
    right: 38px;
    top: 50px;
    font-size: 1.5em;
  }
  .far, .fas {
    transition: all .5s ease-in-out;
  }
  .fas {
    height: 0;
    @extend %text-gradient;
  }
  &:hover {
    .bookmark--card {
      &.fas {
        height: 20px;
      }
    }
    .bookmark--menu {
      &.fas {
        height: 24px;
      }
    }
    .far {
      opacity: 0;
    }
  }
};*/

.bookmark {
  &::before { /*prévoir mixin pour les 2 blocs before et after*/
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $svg-heart;
    background-repeat: no-repeat;
  }
  &--card, &--menu {
    position: absolute;
  }
  &--card { /*prévoir mixin pour ces 2 blocs avec paramètres*/
    right: 24px;
    top: 198px;
    width: 20px;
    height: 20px;
  }
  &--menu {
    right: 38px;
    top: 50px;
    width: 24px;
    height: 24px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $svg-heart-filled;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
  }
  &:hover {
    &::after {
      top: 0;
    }
  }
}