.bookmark {
  position: absolute;
  &--empty {
    fill: white;
    stroke: black;
    stroke-width: 1px;
  }
  &--filled {
    position: absolute;
    height: 0;
    bottom: 1px;
    fill: url(#heart-gradient);
    stroke: url(#heart-gradient);
    stroke-width: 2px;
    transition: all .5s ease-in-out;
  }
  &--stop1 {
    stop-color: map-get($colors, first);
  }
  &--stop2 {
    stop-color: map-get($colors, second);
  }
  &:hover {
    .bookmark--filled {
      left: 0;
      bottom: 0;
    }
  }
}
.card {
  .bookmark {
    right: 24px;
    top: 198px;
    width: 20px;
    height: 20px;
    &--empty {
      height: 20px;
    }
    &--filled {
      left: 10px;
    }
    &:hover {
      .bookmark--filled {
        height: 20px;
      }
    }
  }
}
.menu__container {
  .bookmark {
    right: 38px;
    top: 50px;
    width: 24px;
    height: 24px;
    &--empty {
      height: 24px;
    }
    &--filled {
      left: 12px;
    }
    &:hover {
      .bookmark--filled {
        height: 24px;
      }
    }
  }
}