$font: 'Raleway', sans-serif;

$colors: (
        first: #9356dc,
        second: #FF79DA,
        third: #99e2d0,
        bg: #f6f6f6,
        dark-bg: #eaeaea,
        footer-bg: #353535
);

$sizes: (
        default-padding: 20px
);

$breakpoints: (
        mobile: 375px,
        tablet: 768px,
        laptop: 992px,
        desktop: 1200px,
        desktop_M: 1440px
);

$radius: (
        steps: 20px,
        menu: 20px,
        img: 10px,
        buttons: 50px
)
