$font: 'Roboto', sans-serif;

$colors: (
        first: #9356dc,
        second: #ff79da,
        third: #99e2d0,
        bg: #f6f6f6,
        dark-bg: #eaeaea,
        footer-bg: #353535,
        shadow: #898989,
        cards: white,
        lnk: white
);

$sizes: (
        xs: 8px,
        s: 12px,
        m: 16px,
        ml: 20px,
        l: 24px,
        xl: 32px,
        xxl: 40px,
        imgh: 174px,
        imgh2: 258px
);

$breakpoints: (
        mobile: 375px,
        tablet: 768px,
        laptop: 992px,
        desktop: 1200px,
        desktop_M: 1440px
);

$radius: (
        steps: 20px,
        menu: 45px,
        img: 10px,
        buttons: 50px,
        badges: 2px
);

$shadows: (
        soft: 0 3px 6px rgba(map-get($colors, shadow), .2),
        light: 0 3px 6px rgba(map-get($colors, shadow), .5),
        hover: 0 3px 6px rgba(map-get($colors, shadow), .9)
);