$colors: (
        first: #9356dc,
        second: #FF79DA,
        third: #99e2d0,
        bg: #f6f6f6,
        dark-bg: #eaeaea,
        footer-bg: #353535
);

$sizes: (
        desktop: 1440px,
        test: 768px,
        default-padding: 20px
);

$breakpoints: (
        tablet: 768px,
        laptop: 992px,
        desktop: 1200px,
);
