%font {
  font-family: $font;
}

%pointer {
  cursor: pointer;
}

%center_text {
  text-align: center;
}

%center_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg {
  background-color: map-get($colors, bg);
}