%center-text {
  text-align: center;
}

%center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%bg {
  background-color: map-get($colors, bg);
}

%default-padding {
  padding: map-get($sizes, ml);
}

%heading-weight {
  font-weight: 800;
}