.footer {
  background-color: map-get($colors, footer-bg);
  &__logo {
    width: 40%;
    margin-bottom: map-get($sizes, l);
    @include large-mobile {
      width: 26%;
    }
    @include landscape-tablet {
      width: 190px;
    }
  }
  &__link {
    color: map-get($colors, lnk);
    font-size: 0.9em;
    margin-bottom: map-get($sizes, m);
  }
  &__icon {
    width: 20px;
    margin-right: map-get($sizes, xs);
  }
}