.header {
  @extend %default-padding;
  @extend %center-text;
  position: relative;
  &__logolnk {
    display: inline-block;
    width: 49%;
    @include large-mobile {
      width: 35%;
    }
    @include landscape-tablet {
      width: 255px;
    }
  }
  &__logoimg {
    width: 100%;
  }
  &__backhome {
    display: inline;
    position: absolute;
    left: 20px;
    top: 24px;
  }
}

