.list {
  @extend %default-padding;
  @extend %bg;
  padding-bottom: map-get($sizes, xxl);
}
.card {
  background-color: map-get($colors, cards);
  border-radius: map-get($radius, img);
  margin-bottom: map-get($sizes, l);
  padding-bottom: map-get($sizes, m);
  position: relative;
  &__img {
    object-fit: cover;
    height: map-get($sizes, imgh);
    width: 100%;
    border-radius: map-get($radius,img) map-get($radius,img) 0 0;
  }
  &__badge {
    position: absolute;
    right: 12px;
    top: 24px;
    background-color: map-get($colors, third);
    color: darken(map-get($colors, third), 50);
    padding: map-get($sizes, xs) map-get($sizes, s);
    font-weight: bold;
    font-size: 0.8em;
    border-radius: map-get($radius, badges);
  }
  &__title, &__place {
    padding-left: map-get($sizes, s);
    margin-bottom: 0;
    margin-top: map-get($sizes, s);

  }
  &__bookmark {
    position: absolute;
    right: 24px;
    top: 198px;
    font-size: 1.3em;
  }
}