.menu {
  &__img {
    width: 100%;
    height: map-get($sizes, imgh2);
    @include large-mobile {
      object-fit: cover;
    }
    @include landscape-tablet {
      height: 388px;
    }
    @include laptop {
      height: 505px;
    }
    @include large-desktop {
      border-radius: 45px;
    }
  }
  &__container {
    @extend %bg;
    border-radius: map-get($radius, menu) map-get($radius, menu) 0 0;
    padding: map-get($sizes, ml) map-get($sizes, s);
    margin-top: -55px;
    position: relative;
    z-index: 1;
    @include large-mobile {
      width: 420px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__heading {
    padding-left: map-get($sizes, xs);
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em;
    @include low-mobile {
      font-size: 1.3em;
    }
    &::first-letter {
      @extend %first-letter;
    }
  }
}
.meals {
  &__heading {
    padding-left: map-get($sizes, xs);
    font-size: 0.95em;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: map-get($sizes, xs);
      width: 40px;
      border-bottom: 3px solid map-get($colors, third);
    }
  }
}
.meal {
  padding-left: map-get($sizes, s);
  background-color: map-get($colors, cards);
  border-radius: map-get($radius, steps);
  box-shadow: map-get($shadows, soft);
  margin-bottom: map-get($sizes, m);
  display: flex;
  overflow: hidden;
  cursor: pointer;
  &__text {
    padding: 16px 0;
    min-width: 0; /*see codepen chriscoyier/pen/zqedEr*/
    flex-grow: 1;
  }
  &__title {
    font-size: 1.1em;
    @extend %heading-weight;
    padding-bottom: 12px;
    margin: 0;
    @include low-mobile {
      font-size: 0.9em;
    }
    &::first-letter {
      @extend %first-letter;
    }
  }
  &__desc {
    margin: 0;
    font-size: 0.9em;
    &::first-letter {
      @extend %first-letter;
    }
  }
  &__title, &__desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include low-mobile {
      white-space: normal;
    }
  }
  &__price {
  padding: 0 22px 0 10px;
    align-self: flex-end;
    font-weight: bold;
  }
  &__select {
    width: 0;
    color: white;
    background-color: map-get($colors, third);
    border-radius: 0 map-get($radius, steps) map-get($radius, steps) 0;
    overflow: hidden;
    @extend %center-flex;
    font-size: 1.3em;
    transition: all .3s ease-in-out;
    i {
      transition: all .4s ease-in-out;
    }
  }
  &:hover {
    .meal__select {
      width: 59px;
    }
    .meal__select {
      i {
        transform: rotate(360deg);
      }
    }
    .meal__title, .meal__desc {
      @include low-mobile {
        white-space: nowrap;
      }
    }
  }
}