* {
  box-sizing: border-box;
}
body {
  max-width: map-get($breakpoints, mobile);
  margin: 0 auto;
}
body, button {
  @extend %font;
}
button {
  @extend %pointer;
}
footer {
  padding: map-get($sizes, default-padding);
}
a {
  color: black;
  text-decoration: none;
}
ul, ol {
  list-style-type: none;
  padding: 0;
}
